main.Dashboard {
  background-image: url(https://catena-x.net/fileadmin/user_upload/offset_937880_zugeschnitten_klein.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
