.appdetail-gallery {
  margin-bottom: 100px;
  .img-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    img {
      width: 100%;
      border-radius: 20px;
    }
    p {
      color: #888888;
      margin: 5px 0;
      font-size: 14px;
    }
  }
}
