.organization-main {
  width: 100%;
  padding: 30px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  min-height: 2000px;
  .organization-content {
    margin-bottom: 30px;
    div {
      color: #969696;
    }
    .organization-loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
    }
    .organization-subscriptions {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}
