.connector-page-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;

  .picture-with-text-section {
    margin-top: -200px;
  }
}

.connector-type-selector-container {
  .dotted-gradient {
    background-image: linear-gradient(
      to right,
      #dadada 40%,
      rgba(218, 218, 218, 0) 20%
    );
    background-position: bottom;
    background-size: 24px 1.5px;

    background-repeat: repeat-x;
  }
}
