.stage-section {
  min-height: 78vh;
  background-image: url('../../../../../../public/home-stage-tablett.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  margin-top: -84px;
  @media screen and (min-width: 1300px) {
    background-image: url('../../../../../../public/home-stage-desktop.png');
  }
}