.search-result-section {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 700px;
  max-width: 700px;
  margin-top: -20px;
  margin-left: calc(50% - 350px);
  padding: 10px;
  border-radius: 16px;
  z-index: 100;
}
