dist
build
node_modules
storybook
.vscode
.vscode/settings.json
*.log
*.zip
*.tgz
*.tar.gz
*.ignore
.DS_Store
.env
*.env.*

# Add legal info files during build

public/LICENSE
public/DEPENDENCIES
public/NOTICE.md
public/SECURITY.md

# Add cypress test results  
cypress/screenshots
cypress/videos
cypress/downloads

# Add coverage reports
coverage
