.notifications {
  margin: 0;
  padding: 0;
}

.notifications > ul {
  margin: auto;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  list-style-type: none;
}

.notifications > ul > li {
  border: 1px solid lightgray;
}

