@import 'src/components/styles/_colors';
@import 'src/components/styles/images';

.page-main-container {
  margin: 0;
  padding: 0;
  width: 100%;

  a {
    color: color('text-secondary');
    font-weight: 400;
  }
}

.page-header {
  width: 100%;
  height: auto;
  min-height: 200px;

  img {
    width: 100%;
    z-index: -1;
  }
}

.page-header-title-container {
  padding: 60px 0 0 60px;

  span {
    font-weight: 300;
    font-size: 24px;
  }
}

.table-container {
  max-width: 1200px;
  margin: 0 auto;
}

.padding-r-80 {
  padding: 0px 80px;
}

.documents-column--cell {
  display: block !important;
  overflow: auto !important;
}

.load-more-button-container {
  margin: 20px auto;
}

.document-cell-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  .document-cell-line {
    display: flex;

    svg {
      color: color('active');
      fill: color('active');
    }

    a {
      padding-left: 5px;
    }
  }
}

.state-cell-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-section {
  .header-content {
    position: absolute;
    padding: 7vh 10%;
  }

  img {
    display: block;
    overflow: auto;
    width: 100%;
  }
}

.page-title-container {
  margin-top: 50px;

  .page-title {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 80px;
    position: relative;

    &::after {
      content: '';
      width: 70px;
      border-bottom: 2px solid;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
