.add-roles-main > div > h2 {
  font-size: 18px !important;
}
.add-roles-main > div > p {
  font-weight: normal !important;
}
.add-user-overlay-content {
  padding: 0px !important;
}

.add-user-overlay-content-roles {
  padding: 0px 112px 56px;
}

.add-user-overlay-content-content {
  padding: 0px 32px 32px;
}
