@font-face {
  font-family: FabricMDL2Icons-0;
  src: url(https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css);
}

@font-face {
  font-family: 'LibreFranklin-SemiBold';
  font-display: block;
  src: url('../assets/fonts/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'LibreFranklin-Medium';
  font-display: block;
  src: url('../assets/fonts/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'LibreFranklin';
  font-display: block;
  src: url('../assets/fonts/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'LibreFranklin-Light';
  font-display: block;
  src: url('../assets/fonts/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'LibreFranklin', 'Libre Franklin', 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif !important;
  color: #111111 !important;
  font-weight: 300 !important;
}

main {
  padding: 20px;
  min-height: 78vh;
}

a {
  color: #0f71cb;
  &:hover {
    color: #017ab0;
  }
  &:active {
    color: #111111;
  }
  &:disabled {
    color: #adadad;
  }
}
