@import 'src/components/styles/_colors';

.app-store {
  width: 100%;
  padding: 0;

  input[type='radio'] {
    margin-left: 12px;
  }

  .GroupSelect {
    float: right;
  }

  ul {
    clear: both;
  }

  .overview-section {
    background-color: color('background01');
    padding-left: 100px;
    padding-right: 100px;
  }


}
