@import 'src/components/styles/_colors';

.app-store {
  width: 100%;
  padding: 0;
  margin-bottom: -230px;

  input[type='radio'] {
    margin-left: 12px;
  }

  .GroupSelect {
    float: right;
  }

  ul {
    clear: both;
  }

  .overview-section {
    background-color: color('background01');

    &-content {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 270px;
    }
  }
}
