.banner {
  position: absolute;
  width: 100%;
}

.header-box {
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.heading1 {
  float: right;
  width: 180px;
  height: 160px;
}
.heading2 {
  float: right;
  width: 180px;
}
.heading3 {
  float: right;
  width: 180px;
}
