<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="react-routes" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="^(/[a-zA-Z0-9]+)+$"/>
                    </conditions>
                    <action type="Rewrite" url="/" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
