.serviceMarketplace {
  margin: 0;
  padding: 0 0 40px;
  background: #f9f9f9;

  .mainContainer {
    width: 100%;
    padding: 0 30px 50px 30px !important;
    margin-right: auto;
    margin-left: auto;

    .mainRow {
      display: inline-block;
      width: 100%;
    }
  }

  .newServicesTitle {
    margin-top: 67px;
    text-align: center;
  }

  .recommendationsTitle {
    text-align: center;
    font-size: 36px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

  .recommendationsTitle::after {
    content: '';
    width: 70px;
    border-bottom: 2px solid;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .loading-progress {
    text-align: center;
  }

  .recommended-main {
    .recommended-section {
      margin-bottom: 30px;
      .recommended-card {
        margin-bottom: 30px;
      }
    }
  }

  .services-main {
    background-color: #f9f9f9;
    .services-section-content {
      padding: 50px 30px;
      .section-title {
        text-align: center;
        padding-bottom: 20px;
        position: relative;
      }
      .section-title::after {
        content: '';
        width: 70px;
        border-bottom: 2px solid;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .services-section {
      margin: 0 -15px !important;
      width: calc(100% + 30px) !important;
      .services-card {
        padding: 0 15px;
        margin-bottom: 30px;
      }
    }
  }

  .searchContainer .MuiTextField-root {
    margin: auto;
    width: 100%;
  }

  .searchContainer .MuiBox-root {
    min-width: 350px;
  }

  .searchContainer .MuiOutlinedInput-input {
    font-size: 18px;
  }

  .searchContainer .MuiOutlinedInput-root {
    padding: 12px 20px 12px 20px !important;
    height: 52px;
    border-radius: 35px;
  }

  .iconSection {
    margin-left: 30px;
    cursor: pointer;
  }

  .filterSection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    svg {
      color: #0f71cb;
    }
  }
  .filterSection svg:hover {
    background-color: rgb(176 206 235 / 40%);
    border-radius: 20px;
  }

  .filterSection .chipContainer {
    padding-left: 20px;
  }
  .sortSection {
    position: relative;
    z-index: 9;
  }
  .sortSectionOption {
    position: absolute;
    background: #f9f9f9;
    box-shadow: 0px 10px 20px rgb(80 80 80 / 30%);
    border-radius: 16px;
  }
  .load-more-btn {
    background: #f9f9f9;
  }
}
.bg-white {
  background-color: #fff;
}
