.remove-technical-user-content {
  max-width: 930px;

  * {
    width: fit-content;
    text-align: center;
  }

  h6 {
    font-weight: bold !important;
    margin: 0 auto;
  }

  h5 {
    padding: 20px;
    margin: 20px auto 20px auto !important;
  }
}
