.InviteForm {
  z-index: 2;
}

.InviteForm > * {
  margin: 12px 0;
}

.InviteForm > h4 {
  margin-bottom: 12px;
}

.InviteForm > button {
  margin-top: 12px;
}

.InviteFormResult {
  float: right;
  margin: 20px 0px;
  font-size: 24px;
  line-height: 32px;
}

.InviteFormResult.input {
  visibility: hidden;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.loader {
  left: 50%;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 24px solid #b3cb2d;
}
.loader:after {
  content: ' ';
  display: block;
  width: 72px;
  height: 72px;
  margin: 0;
  border-radius: 0;
  border: 24px solid #ffa600;
  animation: loader 3s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
