.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .row>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.appdetail-main {
  width: 100%;
  padding: 30px 0;
  .product-description {
    margin-bottom: 42px;
    p{
      margin-bottom: 12px;
    }
  }
  .line-border{
    border-bottom: 1px solid #DCDCDC;
  }
  .back-btn{
    margin-bottom: 48px;
    a{
      background: #EAF1FE;
      border-radius: 200px;
      padding: 10px 18px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #0D61AE;
      text-decoration: none;
    }
  }
}