$color-primary: #d31184;
$color-primary-dark: #a60f68;
$color-secondary: #4d4d4d;
$color-gray: #f6f6f6;
$color-blue: #1977cc;
$color-black: #000000;
$mobile-enable-width: 1800px;
$font-family-primary:
  'Switzer',
  -apple-system,
  'Helvetica Neue',
  Arial,
  sans-serif,
  serif !important;

$navigation-height-balance: 85px;
$enable-desktop-nav: 1;
$defaultSpacing: 16px;
$selected-hover: #ededed;
$secondary-hover: #333333;
$black: #000000;
$white: #ffffff;
$border-color: #dfdfdf;
$text-disabled: #808080;
$color-orange: #f58220;
$link-color: #0088cc;
$color-success: #6ba13c;
$color-error: #b62100;
$color-error-dark: #6d1400;

body {
  padding: 0 !important;
}

#app {
  position: relative;
  padding-top: $navigation-height-balance !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.initial-main-div {
  flex: 1;
}

//mobile layout

header {
  display: none;
}

.mobileHeader,
.mobileNav {
  display: block;
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  position: static;
  z-index: 999;
  width: 100%;
  margin-top: 0;
  align-items: center;
  background: #fff;
  padding: 10px 5px;
  border-bottom: 2px solid $color-gray;

  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  max-width: 1800px;
  height: 85px;

  .MuiSvgIcon-root {
    color: $color-secondary;

    path {
      fill: $color-secondary;
    }
  }
}

.logo {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  max-width: 140px;
  margin-top: 4px;

  img {
    max-width: 100%;
  }
}

.logo-mobile {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;

  img {
    max-width: 100%;
  }
}

.mobileHeaderRight {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  right: 0px;
  z-index: -9;
  top: 5px;
}

.mobileHeader {
  display: flex;
  z-index: 999;
  width: auto;
  height: auto;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.mobileHeader img {
  width: auto;
  height: 30px;
}

.mobile-menu-icon {
  margin-right: 10px;
  color: $color-primary;
  position: relative;
  z-index: -9;
  cursor: pointer;
  display: block;
}

// desktop nav enabled start
.user-is-admin {
  @media (min-width: 1440px) {
    header {
      display: block;
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      left: auto;
      right: auto;
      max-width: 1800px;
    }

    main .customHeight {
      top: 85px !important;
    }

    .mobileHeader,
    .mobileNav {
      display: none;
    }

    .mobile-menu-icon {
      display: none;
    }
  }
}

.user-is-not-admin {
  @media (min-width: 1280px) {
    header {
      display: block;
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      left: auto;
      right: auto;
      max-width: 1800px;
    }

    main .customHeight {
      top: 85px !important;
    }

    .mobileHeader,
    .mobileNav {
      display: none;
    }

    .mobile-menu-icon {
      display: none;
    }
  }
}

// desktop nav enabled end

.MenuInfo {
  width: 280px;

  .MuiSvgIcon-root {
    cursor: pointer;
  }
}

.MenuInfo .MuiBox-root {
}

.userMenuInfo {
  .MuiTypography-label2 {
    font-size: 18px;
  }

  .MuiLink-root,
  .MuiListItem-root {
    font-weight: 500;
    border-radius: 0;
    color: #000000 !important;
    width: 100%;

    &:hover {
      border-radius: 8px;
      background-color: $selected-hover;
      color: #000000 !important;
      cursor: pointer;

      .MuiSvgIcon-root {
        color: #000000 !important;
        background-color: $selected-hover;
      }

      .MuiListItemAvatar-root {
        .MuiSvgIcon-root {
          color: white !important;
          background-color: inherit;

          path {
            fill: white !important;
          }
        }
      }

      .badgeBox,
      a {
        color: #000000 !important;
        background-color: $selected-hover !important;
      }
    }
  }
}

// full page
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 30px 60px !important;

  #identity-management-id {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.stage-app-store {
  .MuiTypography-h2 {
    font-weight: 400;
  }
}

.document-button-link {
  font-family: $font-family-primary;
  color: $color-blue !important;
}

.appCertificate .mainContainer {
  max-width: 100%;
  padding: 0 180px !important;
}

.notifications {
  .group {
    .longMiddleSection {
      .content {
        font-family: $font-family-primary;

        pre {
          font-size: 13px;
        }

        strong {
          font-weight: 500;
        }
      }
    }

    > li {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.user-management-section {
  padding-right: 180px;
  padding-left: 180px;
  background: none !important;
}

.table-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 180px;

  #registration-section-id {
    max-width: 100%;
  }
}

.sectionSubContainer {
  max-width: 100%;
  margin: auto;

  .imageVideoTextSideBySide {
    margin-left: 0;
    margin-right: 0;
  }

  .leftAligned,
  .table-compo {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

.app-release-process-form {
  .cx-card__horizontal {
    .cx-image {
      object-fit: cover;
      height: 250px;
      width: 400px;
    }
  }
}

// grid cards

.services-card,
.recommended-main {
  .MuiTypography-caption3 {
    line-height: 100%;
    height: auto;
  }

  .MuiTypography-h4 {
    line-height: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .MuiTypography-label4 {
    color: $color-secondary;

    &:hover {
      background-color: $color-gray;
    }
  }
}

// drop file

.form-field .MuiTypography-body2 {
  font-size: 20px;
}

.form-field .MuiTypography-h3 {
  font-size: 24px;
}

.form-field .MuiSvgIcon-root {
  color: $color-secondary;
}

// global elements
.global-background {
  background: rgba(250, 250, 250, 1) url('/images-cfx/banners/Pattern-Cfx.svg')
    top right no-repeat;
  background-size: contain;
}

header {
  background: #fff;
}

strong,
b {
  font-weight: 500;
}

.navigation-list {
  a {
    font-size: 16px !important;
    text-decoration: none;
  }
}

.navigationParentContainer {
  .navigationOverlayContainer {
    color: #ffffff;
  }
}

main {
  a {
    color: $color-primary !important;

    svg {
      color: $color-primary !important;

      path {
        fill: $color-primary !important;
      }
    }
  }

  .MuiButtonBase-root.MuiChip-root {
    margin-bottom: 0px !important;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 3px rgba(223, 223, 223, 1) !important;
    }
  }
}

.MuiDataGrid-columnHeaders.MuiDataGrid-withBorderColor {
  background-color: $color-gray !important;
}

section {
  .css-12slnd9,
  .css-zgcvtz {
    background-color: $color-gray !important;
  }
}

.MuiDialogContent-root {
  * {
    font-family: $font-family-primary;
  }

  .css-1osn5kl {
    width: auto;
  }

  .css-12slnd9 {
    background: $color-gray;
  }

  .add-user-title {
    font-family: $font-family-primary;
    margin-top: 30px;

    a {
      color: $color-primary;
    }
  }

  a {
    text-decoration: none !important;
  }

  .helpText {
    color: $color-primary !important;

    .MuiSvgIcon-root {
      padding-right: 5px;
      color: $color-primary;
    }
  }
}

.MuiTypography-root {
  font-family:
    'Switzer',
    -apple-system,
    'Helvetica Neue',
    Arial,
    sans-serif,
    serif !important;
}

.highlightText {
  color: $color-primary !important;
  font-weight: 500 !important;
}

.UserManagement {
  .css-8q3uco {
    background-color: $color-gray;
  }
}

.customHeight {
  background-color: $color-gray !important;
  top: $navigation-height-balance !important;

  .subNavigationContainer {
    .navigationParentContainer {
      .navigationOverlayContainer {
        > .MuiSvgIcon-root {
          color: $color-primary;
          fill: $color-primary;
        }

        > .MuiTypography-h4 {
          color: $color-primary;
        }

        .navigationOverlay {
          .MuiSvgIcon-root {
            color: #a6a6a6;
            fill: #a6a6a6;
          }

          .MuiTypography-h4 {
            color: #4d4d4d;
          }

          > div {
            padding: 5px;
            margin-bottom: 5px;

            &:hover {
              background-color: $color-gray !important;

              .MuiSvgIcon-root {
                color: $color-primary;
                fill: $color-primary;
              }

              .MuiTypography-h4 {
                color: #000000;
              }
            }
          }
        }
      }
    }

    button {
      color: #000000;
      margin-right: 5px;

      &:hover,
      &:focus,
      &:active {
        background-color: #ededed !important;
        // box-shadow: none !important;
        color: #000000;
      }
    }
  }
}

.sectionContainer {
  .sectionSubContainer {
    .MuiButton-root {
      background: #ededed;
      color: #000000;

      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
        background-color: #4d4d4d;
      }
    }
  }

  &#asp-id,
  &#app-change-process-id,
  &#technical-user-management-id,
  &#managed-connector-registration-id,
  &#intro-id,
  &#get-status-id,
  &#manage-idps-id,
  &#undefined {
    background-color: rgba(250, 250, 250, 1) !important;
  }
}

.header-section {
  display: block;
  @extend .global-background;

  img {
    visibility: hidden;
  }
}

.table-container {
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart {
    &:hover {
      border-color: $color-secondary;
    }
  }
}

// notification blocks

.frameContainer {
  .frameButton {
    &.css-se2ce7 {
      border-color: $color-primary !important;
    }
  }
}

// company roles

.companyRoleUpdate,
.useCaseParticipation {
  .container {
    .step1 {
      border-color: $color-primary;

      .MuiTypography-label4 {
        background: $color-primary;
      }
    }
  }
}

// // header style type 1
// .partner-network-page-container,
// .organization-main-page-container,
// .useCaseParticipation,
// .companyRoleUpdate,
// .user-details,
// .app-release-process-form,
// main,
// .my-account {
//   .css-1ookt9p,
//   .css-sbh4ys {
//     background: none;
//   }

//   > .MuiBox-root:not(
//       .app-back,
//       .connector-page-container > .MuiBox-root,
//       .service-back,
//       .service-marketplace-content,
//       .policy-main,
//       .customHeight,
//       .overview-section,
//       .company-certificate-section,
//       .css-8q3uco,
//       .mainWrapper
//     ) {
//     @extend .global-background;

//     svg {
//       display: none;
//     }
//   }
// }

// // header style type 2
// .appoverview-app,
// .appoverview-main,
// .app-user-management,
// .invite-main-container,
// .adminBoard {
//   > .MuiBox-root {
//     > .MuiBox-root {
//       background-color: transparent !important;
//     }

//     display: block;
//     @extend .global-background;

//     > svg {
//       display: none;
//     }
//   }
// }

// // header style type 3
// .appSubscription {
//   .subDescription {
//     a,
//     > span {
//       color: $color-primary;
//     }
//   }
// }

// // header style type 4
// .sortingMain {
//   .sortSection {
//     * {
//       color: $color-secondary !important;
//       background-color: #f6f6f6 !important;

//       &:hover {
//         background-color: #f6f6f6 !important;

//         .MuiSvgIcon-root {
//           color: $color-primary;
//           fill: $color-primary;
//         }
//       }
//     }
//   }
// }

// UserManagement
.UserManagement {
  .cx-subnavigation {
    &__link--button,
    &__button--wrap {
      .MuiButton-root {
        text-transform: none !important;

        &.MuiButton-textPrimary {
          border: 2px solid transparent;
          box-shadow: none !important;
          color: $black !important;

          &:hover {
            background-color: $selected-hover !important;
          }

          &:active {
            border-color: $border-color !important;
          }

          &:focus {
            border-color: $border-color !important;
            background-color: $white !important;
          }
        }
      }
    }
  }
}

.notifications {
  .searchContainer {
    .MuiOutlinedInput-root {
      &:hover {
        .MuiOutlinedInput-notchedOutline {
          border-color: #4d4d4d !important;
        }
      }

      .MuiSvgIcon-root {
        path {
          fill: #4d4d4d !important;
          color: #4d4d4d !important;
        }
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: #dfdfdf !important;
      }
    }
  }

  .linkText .MuiTypography-body1 {
    color: $color-primary;
  }

  .textNumber .value {
    .MuiTypography-h2,
    .MuiTypography-h3,
    .MuiTypography-h4,
    .MuiTypography-h5 {
      color: $color-primary;
    }
  }

  .group > li {
    overflow: hidden;
  }

  .MuiBox-root {
    a,
    svg {
      color: $color-primary;

      path {
        fill: $color-primary;
      }
    }
  }
}

// header style 5
.cookies-page {
  h3.MuiTypography-h3 {
    @extend .global-background;
  }
}

// internal pages
.desc-card,
.app-store {
  .stage-app-store .card {
    background-color: #ededed;
  }

  .card {
    .MuiBox-root {
      .MuiTypography-h5 {
        font-size: 24px;
      }
    }
  }
}

.searchContainer {
}

.filterSection {
  .MuiSvgIcon-root {
    color: $color-primary;

    path {
      fill: $color-primary;
    }
  }

  .sortSection * {
    color: $color-secondary;
  }
}

.cx-search-grid {
  position: relative;
}

.serviceMarketplace .filterSection {
  .sortSection {
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    box-shadow:
      0px 10px 13px -6px rgba(0, 0, 0, 0.2),
      0px 20px 31px 3px rgba(0, 0, 0, 0.14),
      0px 8px 38px 7px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
  }
}

[role='tabpanel'] {
  .MuiGrid-root {
    .MuiTypography-h5 {
      color: #000000 !important;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .MuiTypography-caption3 {
      color: $color-secondary !important;
      font-weight: 500;
    }
  }
}

.role-agreements {
  ul {
    li {
      .MuiTypography-caption3 {
        color: $color-secondary !important;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.appSubscription .appFilterSection .activeFilter {
  border-color: $color-secondary !important;
}

.table-section {
  .MuiChip-root {
    margin-bottom: 10px;
  }
}

// dialog
.mui-dialog-heading {
  font-size: 18px !important;
  font-weight: 400 !important;
  margin: 20px 0 0;
}

table tr td {
  font-family: $font-family-primary;
}

.MuiDialog-container {
  .role-overlay {
    table {
      padding: 0;
      width: 100%;
    }

    .role-list {
      > span {
        white-space: nowrap;
        font-size: 18px;
      }

      > div {
        margin: 10px 0;
      }
    }
  }

  .roles-heading,
  .dialog-header-main {
    .MuiTypography-h4 {
      @extend .mui-dialog-heading;
    }
  }
}

main {
  .app-user-details-header-role {
    border-color: $color-primary;
  }

  > .stage-home {
    min-height: 630px;

    .cx-main-header {
      &:before,
      &:after {
        display: none !important;
      }
    }

    .MuiTypography-h2 {
      font-weight: 400;
    }

    .MuiTypography-h3 {
      font-weight: 400;
    }

    img {
      display: none !important;
    }

    display: block;
    @extend .global-background;

    .MuiBox-root {
      background: none !important;
    }

    .MuiTypography-h1 {
    }

    .MuiTypography-h3 {
    }
  }

  > .stage-app-store {
    > .MuiBox-root {
      // background: none !important;
    }

    .css-1ybz6by img {
      display: none !important;
    }

    display: block;
    // @extend .global-background;
  }

  section .card {
    background-color: #fff;
    outline: 2px solid rgba(77, 77, 77, 0.2);

    .MuiSvgIcon-root {
      // color: $color-primary
    }
  }

  .cardContainer {
    border: 1px solid rgba(77, 77, 77, 0.2);

    .readMoreStyle {
      color: $color-primary;
    }
  }

  .news-section {
    max-width: 100%;

    .css-13i92dq {
      height: auto;
    }

    .card .MuiTypography-h5 {
      text-overflow: ellipsis;
    }
  }
}

.headerTitle h2,
.headerTitle h3 {
  font-weight: 400;
}

.organization-section {
  .css-12slnd9 {
    background-color: $color-gray;
  }
}

.edc-connector-header {
  .css-51r4zw {
    padding: 20px;
    background-color: $color-gray;
  }
}

#provider-info,
.MuiDialogContent-root,
.marketplace-main {
  table {
    tbody,
    thead {
      tr {
        th {
          background-color: $color-gray !important;
        }
      }
    }
  }
}

.form-field {
  label {
    font-family: $font-family-primary;
  }

  .MuiTypography-body1 {
  }
}

header .search-icon {
  .MuiSvgIcon-root {
    color: inherit;
  }
}

.slick-ul {
  li {
    cursor: pointer;
  }

  .slick-active {
    background-color: $color-primary !important;
  }
}

.orange-background-home {
  display: block;

  background: #fafafa !important;
}

.app-marketplace-main {
  // @extend .global-background;
}

//cards

// main {
//     section {
//         .card {
//             .MuiBox-root {
//                 padding-top: 0 !important;

//                 img {
//                     width: 100% !important;
//                     min-height: 120px;
//                     border-radius: 0 !important;
//                 }
//             }
//         }
//     }
// }

// steps
.steps-main {
  .MuiBox-root > .MuiBox-root {
    .MuiBox-root:first-child {
      div {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        h5 {
          padding-top: unset !important;
          font-size: 20px !important;
          font-weight: bold !important;
        }
      }
    }

    .MuiBox-root:last-child {
      p {
        padding-bottom: 20px !important;
        border-color: $color-primary !important;
        margin-top: 8px !important;
      }

      div {
        height: 0px !important;
      }
    }
  }

  .css-gwnvmy {
    background-color: $color-primary;
  }

  .css-14oy6q3,
  .css-18by1ad-MuiTypography-root {
    border-color: $color-primary;
  }
}

// stepper

.stepperMain {
  display: flex;

  .stepperStep {
    max-width: 100%;

    .stepHead {
      .hintStepMain {
        .stepIcon {
          .MuiTypography-body1 {
            // background-color: red;
          }
        }
      }

      .stepHeadline {
      }
    }
  }
}

.stepperHint {
  .hintStep {
  }
}

// modal
.actions-main {
  background: #f6f6f6 !important;
}

.dialog-header-main {
  padding: 40px 40px !important;

  .MuiTypography-h4 {
    font-weight: 400;
  }
}

// footer
footer {
  background: none !important;

  .copyright {
    font-family: $font-family-primary;
    font-size: 16px;
  }

  .footer-head {
    visibility: hidden;
  }

  .footer-content {
    background: #fafafa;
  }
}

.mainNavigation {
  .menuItem {
    .MuiTypography-root:not(.notification-badge-text) {
      font-size: 18px !important;
      font-weight: 500 !important;
      color: $secondary-hover;
    }

    :not(.notification-badge-text):hover {
      background-color: $selected-hover !important;
      border-radius: 8px;
      color: $secondary-hover !important;
    }

    .active {
      color: $color-primary !important;

      // not working
      :not(.notification-badge-text):hover {
        color: $color-primary !important;
      }
    }

    // not working
    .MuiListItem-root a .active {
      :hover {
        color: $color-primary !important;
      }
    }
  }

  .menuHeaderItem {
    .MuiTypography-root {
      font-size: 16px !important;
      font-weight: 600 !important;
      color: $black;
    }
  }

  .UserInfo {
    .MuiTypography-label3 {
      font-weight: 600;
      font-size: 20px;
    }

    .MuiTypography-label4 {
      font-weight: 500;
      font-size: 16px;
      color: $color-secondary;
    }
  }
}

// slick slider
.slick-slide .MuiTypography-root.MuiTypography-body2 {
  color: #000;
}

// registration status overrides

.registration-main {
  .title {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }

  .mainDescription {
    max-width: 736px !important;
    padding-top: 8px !important;
    margin-bottom: 24px;
  }

  .text-center {
    text-align: left !important;
    padding: 0 15px !important;
  }

  .helpTextReg {
    width: 100% !important;
  }
}

div.container.registration-main {
  div > p {
    margin-left: 0;
  }

  div > button.completeBtn {
    color: $white;
    background-color: $color-primary;
    border: 2px solid transparent;
  }

  div > button.completeBtn:hover {
    background-color: $color-primary-dark;
  }

  div > div.helpTextReg > p {
    font-family: Switzer;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
  }
}

p.MuiTypography-root.MuiTypography-body3.description,
.title::before {
  display: none;
}

// Registration review dialog and accordion overrides
.MuiAccordion-root {
  &:hover {
    border-radius: 10px;
    overflow: hidden;
  }

  &.Mui-expanded {
    &.MuiAccordion-root {
      .MuiAccordionSummary-root {
        background-color: $white !important;
      }
    }
  }

  .MuiAccordionSummary-root {
    &:hover {
      background-color: $white !important;
    }

    &.Mui-focused {
      background-color: $white !important;
    }
  }

  .MuiAccordionSummary-content {
    .MuiBox-root {
      margin-right: 5px !important;
    }
  }
}

.registrationReviewNoteSection {
  border: 2px solid $color-primary !important;

  .noteReviewText {
    color: $color-primary;
    display: inline;
  }
}

.actions-main {
  padding: 40px 100px !important;
}

.registration-review {
  text-align: left;
  margin: 40px auto 0px auto;

  .description {
    padding-bottom: 35px;
  }

  .subDescription {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 35px;
  }

  .stepTitle {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .helpMain {
    text-align: center;

    span {
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.statusList {
  .statusLabel > span {
    font-weight: 500;
    line-height: 28px;
  }

  .statusTag {
    margin-bottom: 0px;
    line-height: 25px;
    border: none;
  }
}

.MuiDialog-root .MuiPaper-root {
  border-radius: 32px !important;

  div {
    margin-bottom: 0px !important;
  }
}

.card {
  .MuiBox-root {
    .MuiTypography-root {
      z-index: 3 !important;
    }
  }
}

.card:hover {
  z-index: 5 !important;
}

.slick-active button:before {
  color: $color-primary !important;
}

.mainHeaderContainer {
  .mainHeaderTitle {
    padding: 0px 100px !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;

    h1 {
      font-size: 40px !important;
      font-weight: 600 !important;
      padding-bottom: 20px !important;
      text-align: left !important;
    }

    h2 {
      font-size: 20px !important;
      font-weight: 500 !important;
      text-align: left !important;
      width: 900px !important;
      max-width: 100% !important;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .mainHeaderContainer {
    .mainHeaderTitle {
      padding: 0px 100px !important;
    }
  }
}

//tab layout
@media (max-width: 1024px) {
  .mainHeaderContainer {
    height: 350px !important;

    .mainHeaderTitle {
      padding: 0px 50px !important;

      h2 {
        width: unset !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .mainHeaderContainer {
    .mainHeaderTitle {
      padding: 0px 30px !important;

      h1 {
        font-size: 30px !important;
      }

      h2 {
        font-size: 16px !important;
      }
    }
  }
}

.mainHeaderContainer {
  // @extend .global-background;
}

.page-main-container
  > .table-container
  > .MuiBox-root
  > .MuiDataGrid-root
  > .MuiBox-root:first-child {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-top: 0px !important;
  padding: 0px !important;
}

.company-subscription-detail .company-subscription-content {
  background: none !important;
}

.appoverview-app {
  .desc-recently {
    .container {
      .desc-heading {
        font-weight: 600 !important;
        font-size: 32px !important;
        text-align: center !important;
        max-width: 100% !important;
      }
    }
  }

  .overview-section {
    text-align: center !important;
    padding-top: 40px !important;
  }
}

.appoverview-main {
  .desc-section {
    margin-top: 40px !important;

    .container {
      .desc-message {
        font-weight: 500 !important;
        font-size: 20px !important;
      }
    }
  }

  .process-steps {
    margin-top: 40px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .process-steps {
    .steps-main {
      .step-heading {
        margin-bottom: 40px !important;
      }
    }
  }
}

.descriptionContainer {
  padding-top: 40px;
  text-align: center;

  .MuiTypography-root {
    color: $secondary-hover !important;
    font-size: 20px !important;
    font-weight: 500 !important;
  }
}

.appoverview-app,
.service-list-overview {
  .cx-card__main {
    .cx-card__instance:first-child {
      width: 270px !important;

      .cx-card__add-service--wrapper {
        padding: 10px !important;
      }
    }
  }

  .app-main > div:first-child > *:first-child {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.cx-breadcrumbs__links {
  display: none !important;
}

.cx-main-header__button {
  .cx-button__back {
    svg {
      display: block !important;
    }
  }
}

// technical setup pages

.cx-content-technical {
  &__table {
    .cx-table__page-loading {
      > .MuiBox-root {
        flex-direction: row;
        flex: 0 0 100%;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.cx-page-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;

  &__container {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    p {
      color: $secondary-hover;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// cx-page-header-extended
.cx-page-header-extended {
  background: rgba(250, 250, 250, 1);

  .cx-page-header {
    &::after {
      content: '';
      background: url('/images-cfx/banners/Pattern-Cfx.svg') top right no-repeat;
      background-size: contain;
      display: block;
      height: 350px;
      width: 350px;
      position: absolute;
      top: -20px;
      right: 0;
      transform: scaleY(-1);
    }

    svg {
      display: none;
    }

    background: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 40px 0;
    justify-content: flex-start;
    height: 250px !important;

    background-position: 100% 60px;
    background-size: contain;

    @media (max-width: 767px) {
      height: 350px !important;
    }

    &__title {
      position: static;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 160px;

      .MuiTypography-root {
        margin: 0;
        padding: 0;
      }
    }

    &__children {
      &-wrapper {
        max-width: 850px;
        height: auto;
        position: static;
        margin: 60px 0 0;
        padding: 0;
      }

      position: static;
      margin: 0;
      padding: 0;

      .MuiTypography-root {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__button {
    position: absolute;
    display: block;
    top: 110px;
    left: 40px;
  }

  &__subheading {
    position: relative;
    display: block;
    top: 30px;
  }
}

.show-3-rows-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-details {
  position: relative;

  .cx-button__back {
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: 1;
  }

  .cx-page-header {
    .cx-page-header__title {
      margin-left: 10px;
    }
  }
}

// cx-main-header
.cx-main-header {
  background: rgba(250, 250, 250, 1) !important;
  padding: 0 !important;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    background: url('/images-cfx/page-header/pattern_header.svg') top right
      no-repeat;
    background-size: contain;
    display: block;
    height: 270px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  &::after {
    content: '';
    background: url('/images-cfx/page-header/pattern_segment_gradient.svg') top
      right no-repeat;
    background-size: contain;
    display: block;
    height: 250px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  svg {
    display: none;
  }

  background: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 40px 0;
  justify-content: flex-start;
  height: 350px;
  background-position: 100% 60px;
  background-size: contain;

  &__button {
    position: absolute;
    display: block;
    top: 20px;
    left: 30px;
    z-index: 11;
  }

  &__headings {
    color: $secondary-hover !important;

    &.mainHeaderTitle {
      padding-left: 30px !important;
      padding-right: 30px !important;
      flex-direction: row;
      display: flex;
      padding-top: 62px !important;
      justify-content: flex-start !important;
      position: relative;
      z-index: 3;
    }
  }

  &__heading {
    color: $secondary-hover !important;
    font-weight: 600 !important;
    position: relative;
    top: 5px;
  }

  &__subheading {
    color: $secondary-hover !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    font-size: 20px !important;
  }
}

.cx-main-header__content > h2 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

// search filter grid
.cx-search-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  border-radius: 25px;
  height: 52px;
  min-width: 350px;
}

// marketplace subscriptions detail page
.marketplace-subscriptions {
  &__heading--short {
    padding-bottom: 10px;

    b {
      color: $color-primary;
    }

    color: $color-primary;
  }

  .subscriptions-content {
  }

  .subscription-name {
    border-color: $color-black !important;
  }

  .subscription-status {
    .MuiChip-label {
      font-size: 14px;
      padding: 0px 15px;
      line-height: 1;
      display: block;
    }
  }
}

// service links
.service-documents {
  color: $color-primary !important;

  .document-button-link {
    color: $color-primary !important;
    font-size: 16px !important;
  }
}

// managed identity wallet

.main-card-container .card-container * {
  color: $black !important;
}

// cx-overlay
.cx-overlay {
  &__short-heading {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    display: block;
    text-align: center !important;
  }
}

.subscription-overlay-header > div {
  padding: 56px 112px 10px !important;
}

// cx-cards-listing
.cx-cards-listing {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: center;
  justify-content: center;

  &__item {
    position: relative;
    top: 0px;
    left: 0px;
    padding-right: 10px;
    padding-left: 10px;

    &--favorite {
      .cx-card__icon {
        svg {
          color: $color-primary;

          path {
            fill: $color-primary;
          }
        }
      }
    }

    .cx-card__content {
      .cx-typography {
        font-size: 20px !important;
      }
    }
  }
}

// technical user
.technical-user {
  &__form-input {
    .form-input {
      &:first-child {
        .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline {
          height: 24px !important;
        }
      }

      &:nth-child(2) {
        .MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline {
          height: 50px !important;
        }
      }
    }
  }
}

// app overview
.appOverview-app .app-main .app-detail {
  .cx-card__add-service--title,
  .cx-card__add-service--title .cx-typography {
    text-align: center;
  }
}

.app-main {
  .overview-section {
    .cx-page-info {
      margin: 20px auto;

      &__title {
        margin-top: 40px;
      }
    }
  }
}

// app Subscription Autosetup URL
.appSubscription {
  .descriptionContainer {
    margin-bottom: 20px;

    span {
      font-weight: 400 !important;
    }
  }
}

.registerUrlMain {
  .dialog-header-main {
    h4 {
      width: 100%;
    }
  }

  .manageInputURL {
    .urlListMain {
      background: none;
      padding: 0;
    }

    .urlList {
      background: #dedede;
      padding: 18.5px 16px;
      margin: 0 0 0;
    }
  }
}

.cx-card__add-service--icon {
  svg {
    path {
      fill: $color-primary !important;
    }
  }
}

.cx-card__add-service--title {
  text-align: center;
}

.service-marketplace-header {
  .lead-image {
    img {
      border-radius: 16px !important;
      height: 210px !important;
    }
  }
}

.technical-user-link {
  color: $link-color;
  cursor: pointer;
  text-decoration-line: underline;
}

.change-image-document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-menu-dialogs {
  .dialog-header-main {
    .cx-dialog__title {
      text-align: center !important;
      font-size: 23px !important;
      font-weight: 600 !important;
    }
  }

  .remove-object-content {
    h6 {
      text-align: center !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      padding-bottom: 20px !important;
    }
  }

  .cx-dialog__header {
    padding-bottom: 0px !important;
  }
}

/* document */

#documents .not-available {
  text-align: center;
}

.user-management-roles-tag {
  width: 100%;
  /* Fallback */
  width: -moz-available;
  /* For older versions of Firefox */
  width: -webkit-fill-available;
  /* For WebKit browsers */
  width: stretch;
  /* Standardized version */
  text-align: left;

  .reference-container {
    display: hidden;
    position: absolute;
    z-index: -999;

    .reference-role-tag {
      background-color: white !important;
      color: white !important;
    }
  }

  .status-more {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Switzer', Arial, Sans-serif, Serif;
    font-size: 18px;
    padding: 6px 12px;
    line-height: 140%;
    color: #dfdfdf;
    max-width: 100%;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 32px;
    color: #000;
    background-color: #dfdfdf;
    border-radius: 16px;
    white-space: nowrap;
    -webkit-transition:
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition:
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: unset;
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 6px;
    height: 37px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #dfdfdf;
  }
}

.padding-left-right-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.cx-table {
  &__compact-data {
    .MuiDataGrid-main {
      .MuiDataGrid-columnHeader,
      .MuiDataGrid-cell {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

// organization page
.organization-main {
  .cx-table {
    background-image: none !important;
    background-color: #fff !important;

    .MuiBox-root .MuiButton-root {
      text-transform: capitalize;
      // TO TEST
      position: absolute;
      right: 30px;
      top: 30px;

      svg {
        display: block !important;
      }
    }

    .MuiDataGrid-root .MuiIconButton-root svg {
      display: block !important;
    }
  }

  &__bpx {
    max-width: 100%;
    padding: 0;

    .bpx-section {
      padding: 40px 30px 60px !important;
      margin: 0;

      .cx-table__compact-data > div > div > div {
        position: relative;
        min-width: 100%;
        min-width: stretch;
        min-width: -webkit-fill-available;
        min-width: -moz-available;
        min-width: fill-available;

        .MuiButton-containedPrimary {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .cx-table {
        .MuiDataGrid-autoHeight {
          min-height: 792px;
        }

        .MuiChip-root {
          min-width: 120px;
          width: auto;
          max-width: 100%;
        }
      }
    }

    .organization-section .main-title.cx-bpx__subtitle {
      text-align: left;
      font-size: 24px;
      padding-right: 30px;
      padding-left: 30px;
      margin: 0 0 10px;

      &::after {
        display: none;
      }
    }

    .cx-table__page-loading--loader {
      display: none;
    }

    .table-section {
      padding: 0 15px;
      margin: 0;

      > .MuiBox-root {
        padding: 0 15px;

        > .MuiBox-root {
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

// company data
.cx-company-data {
  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;

    &--address,
    &--site {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
    }

    &--left {
      width: 250px;
      font-weight: 500;
      min-width: 250px;

      p {
        font-size: 18px;
        font-weight: inherit;
      }
    }

    &--right {
      font-weight: normal;
      font-size: 18px;
      color: #333;

      p {
        font-size: 18px;
        color: #333;
        margin: 4px 0;
      }

      .MuiChip-root {
        margin-bottom: 0;
        padding: 0 10px;
        border-radius: 10px;

        &:hover {
          color: #fff !important;
          background: #4d4d4d !important;

          svg {
            color: #fff !important;
            fill: #fff !important;
          }
        }
      }
    }

    &--divider {
      border-color: #111111;
    }

    &--heading {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 18px;

      .MuiTypography-root {
        font-size: 18px;
      }

      .heading-h2 {
        font-size: 20px;
        margin: 16px 0;
      }
    }

    &--listing {
      width: 100%;
    }

    &--item {
      display: flex;
      width: 100%;
      min-height: 40px;
      align-items: center;
    }

    &--actions {
      text-align: center;
      width: 100%;
      margin: 70px 0 0;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 150px;
        background: #fafafa;
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
      }
    }
    &--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__errors {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px 0 0;

    &--item {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &--typography {
      font-size: 18px !important;
      color: #d32f2f !important;
    }
  }

  &__error-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px 0 0;
    border-radius: 4px;
    border: 2px solid $color-error;
    flex-direction: column;

    &--heading {
      padding: 10px 16px 4px;
      font-size: 16px;

      .error-note {
        color: #d32f2f !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        padding-right: 5px;
      }

      .error-desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: #333333;
      }
    }

    &--list {
      list-style-type: disc !important;
      list-style-position: outside !important;
      margin-left: 50px !important;
      margin-bottom: 20px !important;

      &-item {
        display: list-item !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        .MuiTypography-root {
          font-size: 16px !important;
          font-style: normal;
          font-weight: 500;
          color: #333333 !important;
        }
      }
    }

    &--item {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &--typography {
      font-size: 18px !important;
      color: #d32f2f !important;
    }
  }
}

.bpx-section {
  .cx-table__page-loading .MuiDataGrid-virtualScroller {
    min-height: 50px !important;
    .MuiDataGrid-overlayWrapper {
      top: 0 !important;
    }
  }
}

.organization-main__bpx .bpx-section .cx-table {
  .MuiChip-root.cx-color-default {
    background-color: #4d4d4d !important;
    color: #ffffff !important;

    svg {
      color: #ffffff !important;
    }
  }
}

.MuiDialog-container .cx-company-data__details--right {
  .MuiChip-colorDefault {
    background-color: #4d4d4d !important;
    color: #ffffff !important;

    svg {
      color: #ffffff !important;
    }
  }
}
.MuiDialog-root .MuiPaper-root div.cx-company-data__details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0 !important;
}
.cx-line-break {
  display: block;
}

d .notification-badge-text {
  font-size: 0.75rem !important;
}

.cx-avatar__badge {
  .MuiBadge-badge {
    background-color: $color-success !important;
  }
}

.cx-multi-select__select-input {
  &--required {
    .MuiFormLabel-root {
      &::after {
        content: '*';
        color: #d32f2f;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.cx-form-field__select {
  .cx-multi-select__select-input {
    .cx-form-control {
      > .MuiBox-root {
        padding: 0;
        margin: 0;

        .MuiFormLabel-root {
          margin: 0;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0;
          font-weight: 600;
          font-family: 'Switzer', Arial, Sans-serif, Serif;
          color: #4d4d4d;
          text-align: left;
          margin-right: 10px;
          display: flex;
          margin-top: 10px;
          min-height: 25px;
        }
      }

      .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline {
        background-color: #eeeeee;
      }
    }
  }
}

.idp-management-table {
  .MuiTablePagination-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 24px;
    min-width: 16px;
    height: auto;
    min-height: 1.4375em;
  }
  .MuiTablePagination-select:hover {
    border-color: $color-black;
    border-radius: 4px;
  }
  .MuiTablePagination-select.MuiSelect-select {
    background-color: white;
    border-radius: 4px;
  }
  .MuiTablePagination-input {
    color: $color-black;
  }
  .MuiTablePagination-selectIcon {
    color: $color-secondary;
  }

  .MuiTablePagination-actions .MuiIconButton-root {
    color: $color-secondary;
    border: transparent;
    box-shadow: none;
  }

  .MuiTablePagination-actions .MuiIconButton-root:active,
  .MuiTablePagination-actions .MuiIconButton-root:hover {
    background-color: #4d4d4d1a;
    border: transparent;
    box-shadow: none;
  }
  .cx-table {
    .MuiDataGrid-root {
      > .MuiBox-root {
        > .MuiBox-root {
          padding: 0;
        }
      }
    }
  }
}

.cx-edit-usecase-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  gap: 40px;

  .edit-usecase {
    padding: 0 10px;
    .checkbox-confirmation {
      margin-top: 0 !important;
      .MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
        color: #fff !important;
        fill: $color-success !important;
        margin: 0;
        font-family: 'Switzer', Arial, Sans-serif, Serif;
      }
    }
  }

  .cx-custom-link-wrapper {
    font-weight: 500;

    .cx-custom-link {
      text-decoration: underline !important;
    }
  }

  .dialog-header-main {
    padding: 0 !important;
    width: 100%;
  }

  .MuiDialogContent-root {
    padding: 0 !important;
    width: 100%;
  }
}

.credential-list-item {
  padding: 10px 0;

  .cx-credentials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    .framework {
      display: flex;
      gap: 2px;
      align-items: center;
      color: #2484c6 !important;

      svg {
        font-size: 18px;
      }
    }
  }
}

// wallet request overlay styles
.cx-dialog-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .MuiDialogContent-root {
    font-family:
      'Switzer',
      -apple-system,
      'Helvetica Neue',
      Arial,
      sans-serif,
      serif !important;
  }
}

.cx-overlay-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  gap: 40px;

  .dialog-header-main {
    padding: 0 !important;
    font-size: 32px;
    line-height: 110px;
  }

  .MuiDialogContent-root {
    font-size: 18px;
    padding: 0 10px !important;
    width: 100%;
  }

  .MuiFormControl-root {
    width: 100% !important;
  }

  .MuiFormControlLabel-root {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .rulecard {
    max-width: 990px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .grid-layout {
      grid-template-columns: repeat(2, minmax(302px, 1fr));
      grid-auto-rows: auto;
      gap: 40px;
      justify-content: stretch;
    }

    .rule-card-container {
      width: 300px;
      padding: 16px !important;

      .text {
        font-size: 12px !important;
        font-weight: 500;
        line-height: 100%;
      }

      h4.text {
        font-weight: 600;
        font-size: 18px !important;
        width: 80%;
      }

      &.cx-revoked-rule-card-container {
        .cx-flex-description-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 4px;

          .text,
          h4.text {
            color: #a6a6a6 !important;
          }
        }
      }
    }
  }
}

// wallet styling
.companywallet-section {
  max-width: 990px;
  margin: auto;
}

@media (min-width: 700px) {
  .subnavigation {
    align-items: flex-start;
    background-color: #fff;
  }

  .main-card-container {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffff;
    border: 2px solid $color-success;

    &.cx-error-border {
      border-color: $color-error;
    }

    .card-container {
      height: 180px;
      margin: auto;
      padding: 0 !important;

      .icon-text {
        justify-content: space-between;
        height: 100%;

        .cx-description-container {
          max-height: max-content;
          display: flex;
          flex-direction: column;
          gap: 4px;
          text-wrap: wrap;
          justify-content: space-between;
          font-size: 17px !important;

          p {
            line-height: 16px;
          }
        }

        p {
          max-height: max-content;
        }

        span {
          height: 100%;
        }

        .icon div {
          background-color: transparent;
        }
      }
    }
  }

  .rulecard {
    max-width: 990px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .grid-layout {
      grid-template-columns: repeat(2, minmax(302px, 1fr));
      grid-auto-rows: auto;
      gap: 40px;
      justify-content: stretch;
    }

    .rule-card-container {
      width: 300px;
      padding: 16px !important;

      .text {
        font-size: 12px !important;
        font-weight: 500;
        line-height: 100%;
      }

      h4.text {
        font-weight: 600;
        font-size: 18px !important;
        width: 80%;
      }

      h4.cx-bpnl-text {
        display: flex;
        font-weight: 500 !important;
        align-items: center;
        gap: 4px;

        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
          fill: #a9a9a9;
        }
      }

      &.cx-revoked-rule-card-container {
        .cx-flex-description-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 4px;

          .text,
          h4.text {
            color: #a6a6a6 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .container {
    padding: 0;
  }

  .rulecard {
    width: 100%;
    padding: 0;

    .grid-layout {
      gap: 40px;
      grid-template-columns: repeat(3, minmax(302px, 1fr));
      justify-content: stretch;
    }

    &.cx-revoked-rule-card-container {
      .cx-flex-description-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;

        .text,
        h4.text {
          color: #a6a6a6 !important;
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .subnavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .main-card-container {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff !important;
    border: 2px solid $color-success;

    &.cx-error-border {
      border-color: $color-error;
    }

    .card-container {
      height: 180px;
      width: 400px;
      margin: auto;
      padding: 0 !important;

      .icon-text {
        justify-content: space-between;
        height: 100%;

        p {
          max-width: 75%;
        }
      }
    }
  }

  .rulecard {
    width: auto;
    padding: 0;

    .grid-layout {
      gap: 20px;
      grid-template-columns: 1fr;
      width: 100%;

      .main-rule-card-container {
        min-width: 100% !important;
        .rule-card-container {
          width: 300px;
          padding: 16px !important;

          .text {
            font-size: 12px !important;
            font-weight: 600;
          }

          h4.text {
            font-weight: 700;
            font-size: 18px !important;
          }

          h4.cx-bpnl-text {
            display: flex;
            gap: 4px;
            align-items: center;
            font-weight: 500 !important;

            .MuiSvgIcon-root {
              width: 18px;
              height: 18px;
              fill: #a9a9a9;
            }
          }
        }

        .cx-revoked-rule-card-container {
          .cx-flex-description-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4px;

            .text,
            h4.text {
              color: #a6a6a6 !important;
            }
          }
        }
      }
    }

    .gradient-container {
      max-width: 302px;
      border-radius: 20px;
      padding: 1px;
      margin: 10px auto 0 auto;
    }
  }
}

.cx-divider {
  height: 2px;
  background: #eaeaea;
  margin: 64px auto;
  max-width: 960px;
}

.circle-container {
  border-radius: 100px;

  p {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    font-weight: 600;
  }
}

.wrapper-container {
  background-color: $color-success;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.cx-error-bg {
    background-color: $color-error;
  }
}

.status-container {
  height: 100%;
  padding: 10px 25px;

  .info p {
    font-weight: 500;
  }

  p {
    font-size: 12px;
    font-weight: 500;
  }
}

.revoke-container {
  max-height: 28px;

  .cx-revoke-icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  p {
    font-weight: 600;
  }
}

// wallet deactivate credential overlay
.cx-deactivate-credential-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  gap: 10px;

  .dialog-header-main {
    padding: 0 !important;
    font-size: 32px;
    line-height: 110px;
  }

  .MuiDialogContent-root {
    font-size: 18px;
    padding: 0 !important;
  }
}

.cx-deactivate-credential-button {
  background-color: $color-error !important;

  &:hover {
    background-color: $color-error-dark !important;
  }
}

.cx-wallet-subnavigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  .subnavigation {
    width: max-content;
    height: auto;
    & button {
      height: 32px;
    }
  }

  .cx-view-selector {
    max-height: 40px;

    .MuiButtonBase-root {
      font-size: 14px;

      &:hover {
        border-radius: 0;
      }
    }

    .MuiButton-contained {
      background: none;
      border-radius: 0;
      border-bottom: 2px solid $color-primary;
      color: $color-primary;
    }
  }
}

.cx-card {
  h5 {
    line-height: 120%;
  }
}
