.stage-section {
  height: 78vh;
  max-height: 890px;
  margin-top: -84px;

  .stage-background {
    height: 100%;
    position: relative;
    z-index: -1;
  }

  .stage-content {
    position: absolute;
    padding: 150px 100px;
  }

  .image-wrapper {
    // Image ratios
    &.image-ratio-parent {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    img {
      position: absolute;
      visibility: visible;
      -webkit-print-color-adjust: exact;

      // Image positioning inside of ratio wrapper
      &.object-fit {
        visibility: visible;
        @include image-object-fit();
      }

      &.center-x-left-40 {
        visibility: visible;
        height: 100%;
        left: 35%;
        transform: translateX(-35%) scale(1);
      }
    }
  }
}

.cookies-page {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 430px;
  font-weight: 500;
  .cookie-section {
    height: 78vh;
    max-height: 890px;
    margin-top: -84px;
  }
  .cookie-content {
    position: relative;
    padding: 150px 100px;
    max-width: 100%;
    h3 {
      margin-top: -87px;
      margin-left: -100px;
      height: 140px;
      width: 100vw !important;
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 100px;
      background-image: linear-gradient(#b3becc, #dee5ee);
    }
  }

  .cookie-description {
    padding: 70px 10px;
    overflow: hidden;
  }

  .cookie-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;
    th,
    td {
      text-align: left;
      padding: 8px;
      border-right: 2px solid #fff;
      color: #fff;
    }

    tr {
      background-color: #92a2bd;
      border-right: 1px solid #fff;
    }
  }
}
