.stage-section {
  height: 78vh;
  max-height: 890px;
  margin-top: -84px;

  .stage-background {
    height: 100%;
    position: relative;
    z-index: -1;
  }

  .stage-content {
    position: absolute;
    padding: 150px 100px;
  }

  .image-wrapper {
    // Image ratios
    &.image-ratio-parent {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    img {
      position: absolute;
      visibility: visible;
      -webkit-print-color-adjust: exact;

      // Image positioning inside of ratio wrapper
      &.object-fit {
        visibility: visible;
        @include image-object-fit();
      }

      &.center-x-left-40 {
        visibility: visible;
        height: 100%;
        left: 35%;
        transform: translateX(-35%) scale(1);
      }
    }
  }
}