.header-description {
  max-width: 733px;
  margin: 0 auto 68px !important;
}

.card {
  max-width: 213px !important;
  margin: 0 auto !important;
}

.form-field {
  margin-bottom: 29px !important;
}

.text-area {
  width: 100%;
  background: #f7f7f7 !important;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  padding: 16px;
  font-size: 16px;
  font-weight: lighter;
}