.marketplace-main {
  width: 100%;
  padding: 30px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  .product-description {
    margin-bottom: 42px;
    p {
      margin-bottom: 12px;
    }
  }
}
