.app-user-details {
  height: 100vh;
  margin: auto;
}

.app-user-details-title-section {
  width: 100%;
  height: 200px;
  padding: 25px 0px;
  background-image: linear-gradient(#b3becc, #dee5ee);
}

.app-user-details-title {
  max-width: 1200px;
  margin: auto !important;
  font-weight: 400;
  padding: 30px;
}
