.mb-30 {
  margin-bottom: 30px !important;
}

.backgroundSection {
  padding: 10px;
  background: #f4f5f6;
  border-radius: 8px;
}

.addMultipleUsers {
  text-align: center !important;
  margin: 0 auto;

  .number {
    border: 1px solid #0f71cb;
    color: #0f71cb;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .secondStep {
    margin: 30px 0;

    .linkText {
      width: 100%;
      display: inline-block;
    }

    .editIcon {
      color: #0f71cb;
    }
  }
}

.uploadedFileMain {
  .fileDetailsSection {
    display: flex;

    .documentMain {
      display: flex;
      width: 50%;

      .documentIcon {
        color: #0f71cb;
        background-color: #dbe9f7;
        height: 50px;
        width: 50px;
        border-radius: 5px;

        .icon {
          margin: 14px;
        }
        .number {
          text-align: center;
          line-height: 50px;
        }
      }

      .documentName {
        margin: 10px 20px;
      }
    }
  }

  .roleDescLink {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .rolesSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.successSection {
  .uploadedDetailsSection {
    display: flex;

    .userDetailsMain {
      display: flex;
      width: 50%;

      .userSuccess {
        color: #5bc785;
        background-color: #f0f5d5;
        height: 50px;
        width: 50px;
        border-radius: 5px;
      }

      .userError {
        color: #e62722;
        background-color: #fee7e2;
        height: 50px;
        width: 50px;
        border-radius: 5px;
      }

      .number {
        text-align: center;
        line-height: 50px;
      }

      .detailLabel {
        margin: 10px 20px;
      }
    }
  }

  .errorUsersLabel {
    color: #da241e;
    margin-left: 10px;
  }

  table {
    max-height: 225px;
    overflow: auto;
    display: block;

    tbody {
      display: table;
      width: 100%;
    }
  }

  /* scrollbar width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #4d73d5;
    border-radius: 10px;
  }
}
