.steppers {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.stepper-container {
  width: 100%;
}

#simple-tab {
  align-items: center;
  width: 100%;
  font-size: 14px !important;
  height: 80px;
  cursor: default !important;
  font-family:
    'Karbon',
    -apple-system,
    'Helvetica Neue',
    Arial,
    sans-serif,
    serif !important;
  // color: #111111 !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

.active-tab {
  border-bottom: 2px solid #d31184 !important;
  text-transform: none !important;
}

.non-active-tab {
  border-bottom: 2px solid #d2d2d2 !important;
  text-transform: none !important;
}

.active-icon,
.completed-icon,
.uncomplete-icon {
  font-weight: 500;
  letter-spacing: 0;
  font-family:
    'Karbon',
    -apple-system,
    'Helvetica Neue',
    Arial,
    sans-serif,
    serif !important;
  font-size: 14px;
  color: #fff;
  background-color: #d31184;
  border-radius: 50%;
  margin: 0 auto;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.MuiTabs-root {
  color: #111111 !important;
}
.completed-icon {
  background-color: #b3cb2d;
}

.completed-tab {
  border-bottom: 2px solid #b3cb2d !important;
  text-transform: none !important;
}

.uncomplete-icon {
  background-color: #a6a6a6;
}

.tab-text {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}

.tool-tip {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111111;
  width: 160px;
  margin: 8px auto 20px auto;
  padding: 16px, 16px, 4px, 16px;
  border-radius: 10px;
  background-color: #fafafa;
  font-family: Karbon;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  box-shadow: 2px 2px 10px 0px #4d4d4d40;
}

.tool-tip-a {
  text-decoration: none;
}

.tool-tip-text {
  text-wrap: wrap;
  padding-bottom: 10px;
}
