.idp-test {
  &-container {
    width: 100%;
  }

  &-description {
    font-weight: bold;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  &-steps {
    font-weight: bold;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p {
      text-align: center;
    }
  }

  &-info {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: gray;
  }

  &-form {
    width: 80%;
    margin: auto;

    &-submit {
      text-align: right;
    }

    &-input {
      margin-bottom: 2rem;
    }
  }
}
