name: CFX Scheduled Weekly KICS Scan

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/*'

concurrency:
  # cancel older running jobs on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  kics_scan:
    permissions:
      actions: read
      contents: read
      security-events: write
    name: KICS scan
    uses: Cofinity-X/central-pipelines/.github/workflows/reusable-kics.yaml@main
