name: CFX Pre Checks

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  # cancel older running jobs on the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          cache: 'yarn'
          scope: '@cofinity-x'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Prettier Checks
        run: yarn pretty:check

      - name: Linter checks
        run: yarn lint

      - name: Unit Tests
        run: yarn coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@8c71dc039c2dd71d3821e89a2b58ecc7fee6ced9 # v5.3.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build Application
        run: yarn build

  run-cypress-tests:
    if: github.actor != 'dependabot[bot]'
    runs-on: [self-hosted]
    permissions:
      contents: read
      packages: read
      id-token: write

    # Cypress Docker image from https://hub.docker.com/r/cypress
    # with browsers pre-installed
    container:
      image: acrcfxsharedservices.azurecr.io/cypress/included:13.17.0
      credentials:
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          registry-url: https://npm.pkg.github.com/
          scope: '@cofinity-x'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - uses: ./.github/actions/cypress
        with:
          config-file: cypress.config.ts
          debug: 'true'
          user-email: ${{ secrets.CYPRESS_USER_EMAIL }}
          user-password: ${{ secrets.CYPRESS_USER_PASSWORD }}
          environment-subdomain: 'development'
        env:
          CYPRESS_INSTALL_BINARY: 0
